
/*Global*/
.mcalc {margin: 0 0 100px; float:left; width: 100%;box-shadow: 0 1px 3px rgba(0,0,0,.05);max-width: 100%!important}

/*Values*/
.mcalc .mcalc-main {width: 60%; float: left; padding: 50px;background:#fff;box-sizing:border-box}
.mcalc .mcalc-values {width: 40%; float: left; padding: 50px;box-sizing:border-box}
.mcalc .mcalc-half {width: 50%; float:left; position: relative; padding: 0 20px; box-sizing: border-box;}
.mcalc .mcalc-full {width: 100%; float:left;padding: 0 20px;box-sizing:border-box}
.mcalc label {display: block;line-height: 40px;padding:0!important;margin:0; letter-spacing: 0; font-size: .9em}
.mcalc input[type=text],.mcalc select {margin: 0 0 30px;background: transparent; box-shadow: 0 0;border: 0; border-bottom: 1px solid #ddd; padding: 0px;border-radius: 0px;font-size: 1.2em; width: 100%; height: 40px; line-height: 40px;position: relative;box-sizing:border-box}
.mcalc i {position: absolute; color:#777; font-size: 1.2em; z-index:9; font-style: normal; line-height: 38px;height: 40px; left: -20px;width:50px; text-align: right;}
.mcalc input[type=text].mcalc-dollar {padding-left: 15px}
.mcalc input[type=text].mcalc-half {width: 50%;border:0;margin: 0 0 10px; padding:0; text-align:right; position: relative}
.mcalc .mcalc-percent {margin:0 0 20px}
.mcalc .mcwp-down-payment {clear:left}

/*Sliders*/
.mcalc .slider.slider-horizontal {width: 100%}
.mcalc .slider.slider-horizontal .slider-track {background: #ddd; border-radius: 2px;}
.mcalc .slider-handle.round,.mcalc .slider.slider-horizontal .slider-selection,.mcalc-color {background: #007272;}
.mcalc .slider-selection {border-radius: 2px;}
.mcalc .slider .tooltip.top {display:none!important}

/*Results*/
.mcalc .mcalc-results h2 {color:#fff; font-size: 4em; font-weight: 500; margin: 0 0 10px; border:0; box-shadow: 0 0;padding:0}
.mcalc .mcalc-results h2 em {font-size: .6em; margin: 5px; color: rgba(255,255,255,.5);}
.mcalc .mcalc-results h3 {color:rgba(255,255,255,.5); font-size: 1.2em; font-weight: 300; text-transform: uppercase; margin: 0 0 40px; padding:0; letter-spacing: 4px; border:0; box-shadow: 0 0}
.mcalc .mcalc-results h4 {color:rgba(255,255,255,.8); font-size: 1.1em; font-weight: 300; text-transform: none; margin: 0 0 10px; padding:0; letter-spacing: 1px; border:0; box-shadow: 0 0;background:transparent}
.mcalc .mcalc-results p {margin: 0px; color:#fff; font-size: 1em; font-weight: 100; line-height: 50px}
.mcalc .mcalc-results p strong {float:right; font-size: 1.3em}
.mcalc .mcalc-results small {font-weight: 300;color:rgba(255,255,255,.7); margin: 50px 0 0; padding-top: 15px; border-top: 1px solid rgba(255,255,255,.1); box-shadow: 0 -1px 0 rgba(0,0,0,.1); display:block}
.mcalc .mha_main_wrapper i{left: unset; letter-spacing: 0; font-size: .9em; right: 22px;}

/*Email*/
.mcalc h5 {padding:0; margin: 25px 0px;font-size: 1.1em; }
.mcalc input[type=email] {background:#fafafa; width: 69%; float:left; border:1px solid #ddd; border-width: 1px 0 1px 1px; border-radius: 2px 0 0 2px;padding: 0px 12px; height: 40px;line-height: 40px;box-sizing: border-box}
.mcalc .mcwp-submit {color:#fff; border: 0; border-radius: 0 2px 2px 0; float:left; width: 30%; line-height: 40px; padding: 0px 12px; height: 40px; font-size: .9em }


/*Mobile*/
@media (max-width: 991px) {
	/*Global*/
	.mcalc {font-size: .9em;}
	.mcalc .mcalc-half,.mcalc .mcalc-full {padding:0 10px}
	.mcalc .mcalc-main,.mcalc .mcalc-values {padding:50px 25px}
	.mcalc .mcalc-results h2 {font-size: 3em}
	.mcalc .mcalc-results h3 {font-size: 1em}
    .mcalc i {left: -30px}
}

@media (max-width: 767px) {
	/*Global*/
	.mcalc .mcalc-half,.mcalc .mcalc-full,.mcalc .wpmc-submit,.mcalc input[type=email] {width:100%}
	.mcalc input[type=text].mcalc-half,.mcalc label.mcalc-half {width: 50%;}
	.mcalc .mcalc-main,.mcalc .mcalc-values {width: 100%; padding: 20px 15px}
	.mcalc input[type=email] {margin-bottom: 10px;border:1px solid #ddd; border-radius: 2px}
	.mcalc .mcalc-values {padding: 40px 30px}
    .mcalc .mcwp-submit {width: 100%}
}

.mha_input_data{
	padding-left:15px !important;
}